* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.header {
    padding: 40px;
    width: 100%;
    display: block;
    overflow: hidden;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
}
.button1 {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 40px;
}
.di1 {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 40px;
}
.di1 :hover {
    background-color: var(--hover-color);
    padding:10px;
    border-radius: 40px;
}