.header {
    margin: 30px 5vw;
    display: flex;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;

    .logo_name {
        font-size: 34px;
        color: white;
        display: flex;
        align-items: center;
        margin:20px;
        border-radius: 20px;
        padding: 18px;
        box-shadow: 4px 3px 19px #454545;
        background-color: var(--secondary-color);
        gap: 0.5rem;

        .divider {
            display: inline-block;
            width: 3px;
            margin-left: 1rem;
            height: 34px;
            background-color: white;
            transition: all 0.45s ease;
            transform-origin: center;
        }
        @media (max-width: 1400px) {
            .divider {
            height: 2px;
            width: 30px;
            margin-left: 1rem;
            }
         }
    }
    .nav {
        font-size: 26px;
        display: flex;
        margin-left: 1rem;

        .nav_text {
            margin-right: 2rem;
            cursor: pointer;
            transition: 0.35s ease
        }
        
        :hover {
        color: var(--primary-color);
        transition: 0.35s ease;
        }  
    }
    @media (max-width: 1400px){
        .nav{
            display: none;
        }
    }
    button {
        border-radius: 20px;
        padding: 14px;
        background-color: white;
        color: black;
        font-size: 17px;
        font-weight: bold;
        border-color: var(--primary-color);
        border: none;
        cursor: pointer;
        transition: 0.45s ease;

        &:hover {
            transition: 0.45s ease;
            background-color: var(--primary-color);
        }
    }
    .right-header {
        margin-left: auto;
        background-color: var(--secondary-color);
        padding: 15px;
        margin-right: 20px;
        border-radius: 20px;
        box-shadow: 4px 3px 19px #454545;
        @media (max-width: 1000px){
            display: none;
        }
        .lang-icon{
            vertical-align: middle;
            font-size: 40px;
            margin-right: 16px;
            cursor: pointer;
            transition: 0.35s ease;
            &.isActive {
                color: var(--primary-color);
                transition: 0.35s ease;
            }
        }
    }
    
    .burger-transform {
        display: none;

        @media (max-width: 1400px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 14px;
            width: 30px;
            height: auto;
            cursor: pointer;
            transform: translateX(-38px);

            .line {
            display: block;
            width: 30px;
            height: 2px;
            background: white;
            border-radius: 1px;
            transition: all 0.3s ease;
            }

            .top,
            .bottom {
            opacity: 0;
            transform: scaleX(0);
            animation: growLine 0.3s ease forwards;
            }

            .top {
                animation-delay: 0.5s;
            }

            .bottom {
                animation-delay: 1s;
            }
        }
    }

        
    @keyframes growLine {
        from {
            opacity: 0;
            transform: scaleX(0);
        }
        to {
            opacity: 1;
            transform: scaleX(1);
        }
        }

    @keyframes fadeInCenter {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }  
    .mobile-nav-overlay {
        position: fixed;
        top: 0;
        left: -10px;
        width: 100vw;
        height: 100vh;
        background-color: #00000080;
        display: flex;
        justify-content: end;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transform: translateX(25px);
        transition: all 0.4s;
        backdrop-filter: blur(4px);
        ul {
            list-style: none;
            height: 100%;
            width: 50vw;
            margin: 0;
            text-align: left;
            display: flex;
            flex-direction: column;
            background-color: #111;
            border-radius: 40px;
            gap: 1.5rem;
            transform: translateX(100%);
            transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

            li {
                color: white;
                font-size: 28px;
                border-left: 3px solid white;
                padding-left: 12px;
                margin-top: 50px;
                transition: color 0.3s ease;
                margin-left: 25px;

                &:hover {
                    color: var(--primary-color, #999);
                }
            }
        }
        @media(max-width: 600px){
            ul {
                width: 100vw;
                transform: translateX(20px);
                border-radius: 0px !important;
            }
        }
        &.open {
            opacity: 1;
            pointer-events: auto;

            ul {
                transform: translateX(0);
            }
        }
    }

    @media (min-width: 1401px) {
        .mobile-nav-overlay {
            display: none !important;
        }
    }
    .menu-top {
        display: flex;
        padding-top: 24px;
        padding-left: 30px;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        border-bottom: 1px solid #333;

        p {
            font-size: 34px;
            color: white;
            font-weight: bold;
            padding-bottom: 16px;
            padding-left: 19px;
            
        }
        .close-icon {
            position: absolute;
            top: 30px;
            right: 55px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index: 1000;
            
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 12px;
                left: 0;
                width: 30px;
                height: 2px;
                background-color: white;
                border-radius: 2px;
                transform-origin: center;
                opacity: 0;
            }

            &::before {
                animation: crossSpinBefore 0.6s ease forwards;
            }

            &::after {
                animation: crossSpinAfter 0.6s ease forwards;
            }
            }

        @keyframes crossSpinBefore {
        0% {
            transform: rotate(0deg) scaleX(0.3);
            opacity: 0;
        }
        50% {
            transform: rotate(90deg) scaleX(1);
            opacity: 0.5;
        }
        100% {
            transform: rotate(45deg);
            opacity: 1;
        }
        }

        @keyframes crossSpinAfter {
            0% {
                transform: rotate(0deg) scaleX(0.3);
                opacity: 0;
            }
            50% {
                transform: rotate(-90deg) scaleX(1);
                opacity: 0.5;
            }
            100% {
                transform: rotate(-45deg);
                opacity: 1;
            }
        }
    }
    .lang-wrapper{
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }
    .lang-menu{
        display: none;
        width: 170px;
        margin: 10px;
        background-color: var(--secondary-color);
        border-radius: 20px;
        padding: 10px;
        box-shadow: 4px 3px 15px #515151;

        
        .lang-text{
            padding:10px;
            border-radius: 10px;
        }
        .selected {
            background-color: #333;
        }
        &.open {
            display: inline-block;

            @media (max-width: 1000px){
            display: none;
        }
        }
    }
}