<footer class="footer">
  <div class="footer-column first">
    <h3>О нас</h3>
    <ul>
      <li><a href="#">Lorem ipsum</a></li>
      <li><a href="#">Dolor sit amet</a></li>
      <li><a href="#">Команда</a></li>
    </ul>
  </div>
  <div class="footer-column">
    <h3>Поддержка</h3>
    <ul>
      <li><a href="#">Частые вопросы</a></li>
      <li><a href="#">Служба поддержки</a></li>
      <li><a href="#">Политика конфиденциальности</a></li>
    </ul>
  </div>
  <div class="footer-column">
    <h3>Контакты</h3>
    <ul>
      <li>Email: support&#64;fluffy.io</li>
      <li>Telegram: &#64;fluffy</li>
      <li>© 2025 Fluffy</li>
    </ul>
  </div>
</footer>
