<div #menu class="menu">
  <div #overlay class="menu-overlay">
  <div class="files-panel">
    <div class="file-entry">
      <span class="icon">🖼️</span>
      <span class="text">115 photos</span>
    </div>
    <div class="file-entry">
      <span class="icon">📄</span>
      <span class="text">208 files</span>
    </div>
    <div class="file-entry">
      <span class="icon">🔗</span>
      <span class="text">47 shared links</span>
    </div>
  </div>
  <div class="section">
    <div class="section-header">
      <h4>Members</h4>
      <span class="add-member-icon material-icons" title="Добавить участника">group_add</span>
    </div>
    <div class="member">
      <div class="avatar"></div>
      Richard Wilson
      <span class="role">Admin</span>
    </div>
    <div class="member">
      <div class="avatar"></div>
      You
    </div>
    <div class="member">
      <div class="avatar"></div>
      Jaden Parker
    </div>
    <div class="member">
      <div class="avatar"></div>
      Jaden Parker
    </div>
    <div class="member">
      <div class="avatar"></div>
      Jaden Parker
    </div>
  </div>
  </div>
</div>
