.theme-dark {
    --primary-color: #d4fcb5 ;
    --secondary-color: #1c1c1c;
    --background-color: #040404;
    --text-color: #ffffff;
    --hover-color: #dffdc8;
    --hover-secondary-color: #3a3a3a;
}
.theme-light {
    --primary-color: #9468d1;
    --secondary-color: #2b2b2b;
    --background-color: #040404;
    --text-color: #ffffff;
    --hover-color: #454545;
    --hover-secondary-color: #3a3a3a;
}
.theme-dark-blue {
  --primary-color: #2762a7;             
  --secondary-color: #1e1e2f;
  --background-color: #040404;
  --text-color: #e0e0e0;
  --hover-color: #2a2a3a;
  --hover-secondary-color: #33334d;
}
.theme-light-modern {
  --primary-color: #7b3ff2;               
  --secondary-color: #e0e0e0;             
  --background-color: #f9f9f9;            
  --text-color: #1a1a1a;                 
  --hover-color: #dddddd;                
  --hover-secondary-color: #cccccc;
}
